@charset "UTF-8";

header{
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.322);
     
}
header > #about > a{
    margin: 5px;
    text-decoration: none;
    color: black;
}
#about > a:hover{
    text-decoration: underline;
}
main{
    margin: auto;
    
}
main > section{
    text-align: left;
    padding-left: 20px;
    padding-bottom: 25px;
}
h1{
    font-size: 30px;
}
p{
    font-size: 18px;
    line-height: 28px;
}
a{
    font-size: 18px;
    text-decoration: none;
    color: #4183C4;
}
a:hover{
    text-decoration: underline;
}
footer{
    display: flex;
    justify-content: center;
    background-color: #eee;
    padding: 20px;
    margin: -7px;
    margin-top: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.322);
}
footer > a > img{
    padding: 10px;
    width: 32px;
    
}